@import "~bootstrap/scss/bootstrap.scss";

// Palito
.stickArea {
    display: flex;
  justify-content: center;
}

.trafficStick {
    border-left: 6px solid darkgray;
  height: 4rem;
  top: 0;
}

// Semaforo
.trafficMain {
    background-color: darkgrey;
    border-radius: 0.5rem;
    padding: 1rem;
}

// Luces
.red-light, .yellow-light, .green-light {
    height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.6;
}

.red-light {
    background-color: red;
    margin-bottom: 0.5rem;
}

.yellow-light {
    background-color: yellow;
    margin-bottom: 0.5rem;
    
}

.green-light {
    background-color: green;
}

// Activada onClick
#activeRed {
    box-shadow: 0 0 20px #FF3845;
    opacity: initial;
}

#activeYellow {
    box-shadow: 0 0 20px orange;
    opacity: initial;
}

#activeGreen {
    box-shadow: 0 0 20px #15AD6E;
    opacity: initial;
}